.market-slider-container {
  padding: 2rem;
  text-align: center;

  .slider-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }

  .view-all-button {
    margin-top: 1.5rem;
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid orangered;
  }

  .view-all-button:hover {
    background-color: white;
    color: orangered;
  }
}

.flip-card-container {
  padding: 10px;
  max-width: 215px;
  height: 260px;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  margin-top: 10px;
}

.flip-card-back {
  background-color: #f1f1f1;
  transform: rotateY(180deg);
  padding: 20px 15px;
  border: 1px solid #ddd;
}

.slick-prev,
.slick-next {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: orangered !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: orangered !important;
}

.slick-prev {
  left: -10%;
}

.slick-next {
  right: -10%;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 1024px) {

  .slick-prev,
  .slick-next {
    width: 35px;
    height: 35px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 18px;
  }

  .slick-prev {
    left: -3%;
  }

  .slick-next {
    right: -4%;
  }
}

@media (max-width: 768px) {

  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 16px;
  }

  .slick-next {
    right: -3%;
  }
}

@media (max-width: 640px) {

  .slick-prev,
  .slick-next {
    width: 25px;
    height: 25px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 14px;
  }
}

.heading-bg-image-homemarket {
  background-image: url('../../../assests/images/homepage/head_backgound.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60px;
}

.flip-card-back {
  background-image: url('../../../assests/images/homepage/back_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.span-heading-market {
  display: inline-block;
  margin-top: 15px;
  border-bottom: 1px solid orangered;
  padding-bottom: 2px;
}

.span-heading-market-back-side {
  display: inline-block;
  border-bottom: 1px solid orangered;
  padding-bottom: 2px;
}

.span-padding-market-back-side {
  font-size: 0.8rem;
  margin-top: 10px;
}

.span-btn-market-back-side {
  background-color: #2C2C2C;
  color: wheat;
  border: 2px solid #2C2C2C;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}