.slider-container-market {
  position: relative;
  max-width: 90%;
  margin: 100px auto;
}

.slider-item-market {
  padding: 0 10px;
  box-sizing: border-box;
}

.card-content-market {
  position: relative;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-content-market-img {
  width: 100%;
  height: 250px;
  transition: transform 0.3s ease;
}

.card-content-market-img {
  transform: scale(1.1);
}

/* Overlay specific to each card */
.overlay-content-market {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  background: rgba(255, 115, 72, 0.8);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.overlay-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.overlay-content p {
  font-size: 14px;
  margin-top: 5px;
}

/* Custom Arrow Styling */
.arrow-market {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: #FF6600;
  color: white;
  border: 2px solid #FF6600;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 5%;
  transition: background-color 0.3s ease;
}

.next-arrow-market {
  right: 0;
  transform: translate(50%, -50%);
}

.prev-arrow-market {
  left: 0;
  transform: translate(-50%, -50%);
}

.arrow-market:hover {
  background-color: white;
  color: #FF6600;
}

/* Responsive Arrow Size */
@media (max-width: 1024px) {
  .custom-arrow {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .arrow-market {
    font-size: 1.5rem;
  }

  .next-arrow-market {
    right: -30px;
  }

  .prev-arrow-market {
    left: -30px;
  }
}

@media (max-width: 480px) {
  .arrow-market {
    font-size: 1.2rem;
    padding: 5px;
  }

  .next-arrow-market {
    right: -20px;
  }

  .prev-arrow-market {
    left: -20px;
  }
}

.our-market-title {
  font-family: Crimson Text;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.market-all-btn-div {
  text-align: center;
  margin-top: 15px;
}



.view-all-button {
  margin-top: 1.5rem;
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid orangered;
}

.view-all-button:hover {
  background-color: white;
  color: orangered;
}