.verical_card_css {
  left: 230px;
}

.verical_card_css_6 {
  top: -25px;
  left: 200px;
  width: 100%
}

.verical_card_css_6_img {
  max-width: none;
  width: 100px;
}

.verical_card_css_8 {
  top: -35px;
  left: 205px;
  width: 100%
}

.verical_card_css_5 {
  max-width: 75px;
  top: -35px;
  left: 205px;
}