.verical_card_css {
  left: 230px;
}

.verical_card_css_6 {
  top: -25px;
  left: 215px;
  width: 100%
}

.verical_card_css_6_img {
  max-width: none;
  width: 100px;
}

.verical_card_css_8 {
  top: -40px;
  left: 255px;
  width: 100%
}

.verical_card_css_5 {
  max-width: 75px;
  top: -35px;
  left: 205px;
}

.flex-verical {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-11 {
  gap: 2.5rem;
}

.justify-between {
  justify-content: space-between;
}

/* Custom card styles */
.card_custom_css {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.p-5 {
  padding: 3rem 1.25rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-orange-600 {
  color: #ff6600;
}

.mt-3 {
  margin-top: 0.75rem;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .flex-verical {
    flex-direction: column;
  }

  .gap-11 {
    gap: 1.5rem;
  }


  .text-lg {
    font-size: 1rem;
  }

  .card_custom_css {
    padding: 1rem;
  }
}

@media (max-width: 768px) {

  .text-lg {
    font-size: 0.9rem;
  }

  .mt-3 {
    margin-top: 0.5rem;
  }
}

.text-why-hss {
  font-size: 16px;
  line-height: 26px;
  color: #777777;
  font-family: "DM Sans", sans-serif;
}