.product-hydraulic-mainfolds-container {
  width: 100%;
  padding-top: 60px;
}

.product-hydraulic-mainfolds-img-container {
  width: 100%;
}

@media (max-width:425px) {
  .product-hydraulic-mainfolds-container {
    padding-top: 50px;
  }
}