.product-tube-assemblies-container {
  width: 100%;
  padding-top: 60px;
}

.product-tube-assemblies-img-container {
  width: 100%;
}

@media (max-width:425px) {
  .product-tube-assemblies-container {
    padding-top: 50px;
  }
}