.my-text-con {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

.home-about-us-head {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.home-about-us-head ::before,
.home-about-us-head ::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid orangered;
  margin: 0 15px;
}

.home-about-us-head ::before {
  margin-left: 0;
}

.home-about-us-head ::after {
  margin-right: 0;
}

@media (max-width: 425px) {
  .my-div-heading {
    padding: 1.5rem;
  }
}

.text-color {
  color: black;
}

.bg-btn-color-about {
  background-color: #FF6600;
  border: 2px solid #FF6600;
}

.bg-btn-color-about:hover {
  background-color: white;
  color: #FF6600;
  border: 2px solid #FF6600;
}