.my-text-con {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  text-align: justify;
}

.home-about-us-head {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.home-about-us-head ::before,
.home-about-us-head ::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #FF6600;
  margin: 0 15px;
}

.home-about-us-head ::before {
  margin-left: 0;
}

.home-about-us-head ::after {
  margin-right: 0;
}

@media (max-width: 425px) {
  .my-div-heading {
    padding: 1.5rem;
  }
}

.text-color {
  color: black;
}

.bg-btn-color-about {
  background-color: #FF6600;
  border: 2px solid #FF6600;
}

.bg-btn-color-about:hover {
  background-color: white;
  color: #FF6600;
  border: 2px solid #FF6600;
}

@media(max-width: 1024px) {
  .my-text-con {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
  }

  my-div-heading {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media(max-width: 768px) {
  .my-text-con {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
  }

  .my-div-heading {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media(max-width: 768px) {
  .my-text-con {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
  }

  .my-div-heading {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}