.img-width-con {
  max-width: 400px;
}

.my-text-con {
  font-family: Crimson Text;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.home-about-us-head {
  font-family: Crimson Text;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.home-about-us-head ::before,
.home-about-us-head ::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #FF6600;
  /* Line color */
  margin: 0 15px;
}

.home-about-us-head ::before {
  margin-left: 0;
  /* Optional: adjust left margin */
}

.home-about-us-head ::after {
  margin-right: 0;
  /* Optional: adjust right margin */
}

@media (max-width: 425px) {
  .my-div-heading {
    padding: 1.5rem;
  }
}

.text-color {
  color: black;
}

.bg-btn-color {
  background-color: #1a2a3a;
}