.product-ball-valves-container {
  width: 100%;
  padding-top: 60px;
}

.product-ball-valves-img-hero {
  width: 100%;
}

@media (max-width:425px) {
  .product-ball-valves-container {
    padding-top: 50px;
  }
}