.product-slider-container {
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.product-slider-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.slick-prev,
.slick-next {
  background-color: #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #888;
}

.product-card {
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
}

.product-button {
  font-size: 24px;
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.view-all-button {
  margin-top: 20px;
}

.view-all-button button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-all-button button:hover {
  background-color: darkorange;
}

.swiper-wrapper {
  transform: translate3d(0px, 0px, 0px) !important;
}