.banner-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1a2a3a;
  /* Dark blue background */
  color: white;
  margin-top: 50px;
}

.content-hide {
  max-width: 50%;
}

.content-hide h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.connect-button-btn1 {
  padding: 10px 20px;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}


.connect-button-btn2 {
  padding: 10px 20px;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}


.connect-button-btn1:hover {
  background: orangered;
  border: 2px solid orangered;
}

.connect-button-btn2:hover {
  background: orangered;
  border: 2px solid orangered;
}




.image-container {
  max-width: 40%;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner-section {
    flex-direction: column;
    text-align: center;
  }

  .content-hide {
    max-width: 100%;
  }

  .image-container {
    max-width: 100%;
    margin-top: 20px;
  }

  .content-hide h1 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .connect-button-btn2 {
    font-size: 14px;
    padding: 8px 16px;
  }

  .connect-button-btn1 {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 375px) {
  .connect-button-btn2 {
    font-size: 12px;
    padding: 6px 14px;
  }

  .connect-button-btn1 {
    font-size: 12px;
    padding: 6px 14px;
  }
}