.header-bg-color {
  background-color: #ff7300;
}

.header-bg-color-bottom {
  background-color: #343a40;
}

.header-text-color {
  color: #ffffff;
}

.logo-con {
  width: 150px;
  height: auto;
}

.login-icon-con {
  width: 34px;
  height: auto;
}

.my_margin-top {
  margin-top: 122px;
}

.active {
  background-color: white;
  padding: 5px;
  color: #ff7300;
  border-radius: 3px;
}