.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: black;
}

.navbar-scrolled {
  background-color: black;
  /* Change to the color you want after scroll */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-logo img {
  height: 50px;
}

.header-text-color {
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.toggle-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.show {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
}

.logo-con {
  width: 85px;
  height: auto;
  margin-top: 3px;
  border-radius: 5px;
}


.active {
  color: #ff7300 !important;
}

.w_15_w {
  width: 15%;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 10px 20px;
  }
}

@media (max-width: 640px) {
  .navbar {
    padding: 10px 30px;
  }

  .navbar-links {
    top: 50px
  }
}

@media (max-width: 425px) {
  .navbar-logo img {
    height: 30px;
  }
}

@media (max-width: 768px) {
  .navbar-links {
    gap: 15px;
    padding: 30px;
  }
}

.toggle-bar-cross-btn {
  color: white;
  font-size: 20px;
}