.custom-arrow-class-right-market {
  right: 45%;
  cursor: pointer;
  bottom: -20%
}

.custom-arrow-class-imgae {
  width: 50px;
}

.custom-arrow-class-left-market {
  left: 45%;
  cursor: pointer;
  bottom: -20%
}

.our-facilities-main-con {
  background-image: url('../../../assests/images/homepage/facility_background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-facilities-main-con-outer {
  margin-top: 40px;
}

.our-facilities-main-head {
  font-family: Crimson Text;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

@media (min-width: 375px) and (max-width: 425px) {
  .p-4 {
    width: 100%;
  }

  .card-img-card {
    width: 100%;
  }
}