.our-facilities-main-con {
  background-image: url('../../../assests/images/homepage/facility_background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-facilities-main-con-outer {
  margin: 100px auto;
}

.our-facilities-main-head {
  font-family: Crimson Text;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.card-img-card {
  width: 100%;
}

@media (min-width: 375px) and (max-width: 425px) {
  .p-4 {
    width: 100%;
  }

  .card-img-card {
    width: 100%;
  }
}

.our-facilities-main-con-outer {
  position: relative;

  .slick-slider {
    position: relative;
    padding-bottom: 20px;
  }
}

.custom-arrow-facility {
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  background-color: orangered;
  border: 2px solid orangered;
  color: white;
  padding: 10px;
  cursor: pointer;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.next-arrow-facility {
  left: 54%;
}

.prev-arrow-facility {
  left: 46%;
}



//   /* Responsive adjustments */
//   @media (max-width: 1024px) {

//     .slick-prev,
//     .slick-next {
//       width: 35px;
//       height: 35px;
//     }

//     .slick-prev:before,
//     .slick-next:before {
//       font-size: 18px;
//     }
//   }

//   @media (max-width: 768px) {

//     .slick-prev,
//     .slick-next {
//       width: 30px;
//       height: 30px;
//     }

//     .slick-prev:before,
//     .slick-next:before {
//       font-size: 16px;
//     }

//     .slick-prev {
//       left: 47%;
//     }

//     .slick-next {
//       left: 53%;
//     }

//   }

//   @media (max-width: 640px) {

//     .slick-prev,
//     .slick-next {
//       width: 25px;
//       height: 25px;
//     }

//     .slick-prev:before,
//     .slick-next:before {
//       font-size: 14px;
//     }

//     .slick-prev {
//       left: 45%;
//     }

//     .slick-next {
//       left: 55%;
//     }
//   }
// }

.facility-card-head {
  background-color: orangered;
  font-family: Crimson Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: white;
  padding: 15px;
}