.pressure-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-header,
.table-data {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
  padding-left: 6px;
}

.table-row:nth-child(even) {
  background-color: #ff7300;
  color: white;
}

@media (max-width :425px) {
  .margin-content-con {
    margin: 1rem;
  }
}