.footer-bg-color {
  background-color: #343a40;
}

.div-custom-css-one {
  width: 300px;
}

.underline-con-address {
  width: 250px;
  background-color: white;
  height: 2px;
}

.underline-con-email {
  width: 180px;
  background-color: white;
  height: 2px;
}

.custom-css-email {
  margin-top: -5px;
}

.underline-con-phone {
  width: 170px;
  background-color: white;
  height: 2px;
}

.custom-css-phone {
  margin-top: -5px;
}

.active-footer {
  color: #ff7300 !important;
}