.crimping-chart-hero-container {
  width: 100%;
  padding-top: 60px;
}

.crimping-chart-hero-image-banner {
  width: 100%;
}

@media (max-width:425px) {
  .crimping-chart-hero-container {
    padding-top: 50px;
  }
}